/* Full page container */
.page-container {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;     /* center vertically */
  height: 100vh;           /* full viewport height */
  
}

/* Centered box */
.center-div {
  background: white;
  padding: 30px 50px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;

}
